.collapse {
  background-color: transparent;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100;
}

.profile-main{
  width: 250;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(0, 0, 0, 0.562);
  border-radius: 20px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}

.profile .btn {
  align-items: center;
  height: 50;
  width: 200px;
  margin-top: 10px;
}
.avi {
  width: 200;
  border-radius: 100%;
}