* {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 0;
}
main-container {
  height: 100%;
  width: 100%;
  border: 1px solid red;
}
.main-conatiner{
  height: 100px;
  width: 100;
  border: 1px solid red;
}
.main-container .item{
  height: 300px;
  width: 300px;
  background-color: black;
  margin: 10px auto;
}
@media (min-width: 576px) {
  .main-container .item{
    display: inline-block;
  }
  .main-conatiner .item:nth-of-type(4) {
    background-color: peru;
  }
}
