* {
  padding: 0;
  margin: 0;
  
}
button {
  cursor: pointer;
}
header{
  height: 100;
  padding: 10;
}
header button {
  border: none;
  background-color: white;
}
.about {
  font-weight: bold;
  padding: 10;
}
.about h1 {
  border-bottom: 10px solid black;
  border-radius: 15px;
  width: 120;
  font-family: 'Montserrat', sans-serif;
}
.about p {
  margin-top: 10;
  padding: 10;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid;
  border-radius: 10px;
}
.video {
  padding: 10;
}